* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}

#menu{
    width: 100%;
    
}

#cardmenu{
    border: solid 2px;
    border-color: #9AE06F;
    border-radius: 2%;
    text-align: center;
    color: #7159c1;
    width: 45vh;
    height: 250px;
    overflow: auto;
}
#contato{
    border: solid 2px;
    border-color: #9AE06F;
    border-radius: 1vh;
    text-align: center;
    color: #7159c1;
    width: 30vh;
    height: 150px;
}

#barra::after {
    content: '';
    right: 0;
    top: 3px;
    width: 2px;
    height: 30px;
    margin-top: 25px;
    background-color: #9AE06F;
    position: absolute;
  }

#logo{
    width: 100px;
        
}


#entrar{
    margin-top: 25px;
    margin-right: 1vh;
    color: #7159c1;
    font-size: 20px;
    outline: none;
    background-color: #fff;

    
}
#cadastro{
    margin-top: 25px;
    margin-left: 1vh;
    color: #7159c1;
    font-size: 20px;
    outline: none;
    background-color: #fff;
    
  
}
#navegar{
    margin-top: 25px;
    color: #7159c1;
    font-size: 20px;
    text-decoration: none;
}

/*Formularios*/
form {
    width: 251px;
    height: 331px;
    margin: 50px auto;
    color: #7159c1;
    background: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    font-size: 14px;
    border: solid 2px;
    border-color: #9AE06F;
    border-radius: 17px;
  }
  #form1{
    height: 350px;
  } 
  #form2{
    height: 450px;
  } 
  
  .form-control {
    width: 198px;
    height: 33px;
   
    font-size: 10px;
    border: none;
   border-bottom: solid 1px;
    border-color: #9AE06F;
    color: #7159c1;
  }
  .botao {
    width: 198px;
    height: 27px;
    border-radius: 12px;
    font-size: 16px;
    color: #fff;
    left: -100%;
    right: 0;
    background:  #9AE06F;
    border:none;
    outline: none;
    
  }
  .botao:hover {
    background:  #9ae06f63;
    color:#7159c1;
   
}
#fechar{
    background-color: #fff;
    color: #7159c1;
    font-size: 20px;
    font-weight: bolder;
    outline: none;
}
