@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --cor-primaria: #50bc22;
  --cor-secundaria: #7159c1;
  --cor-terciaria: #e1d9d9;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100% !important;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
}

.button_active {
  background-color: var(--cor-secundaria);
}

ul,
li {
  list-style: none;
}
