.section-header {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section-header .header-top {
  width: 100%;
  height: 50px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-secundaria);
  border-radius: 8px 8px 0 0;
}

.section-header .header-top p {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.section-header .header-top p svg {
  margin-left: 4px;
}
.section-header span {
  width: 100%;
  height: 50px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #fff;
  background-color: var(--cor-secundaria);
}

.section-header span .numero-questoes {
  font-size: 14px;
  margin-top: 8px;
  padding-left: 16px;
  font-weight: bold;
}

.section-header span .barra-progresso {
  width: 90%;
  margin: 0 auto;
  height: 8px;
  border-radius: 32px;
  background-color: #c5e7c1;
}

.section-header span .level-progresso {
  height: 100%;
  background-color: var(--cor-primaria);
  border-radius: 32px;
}

.section-respostas {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-respostas h1 {
  color: #fff;
}

.section-respostas p {
  width: 100%;
  height: 80px;
  padding: 8px;

  font-size: 22px;
  line-height: 28px;
  text-align: center;
  /*#09802c*/
  color: #686262;

  margin: 10px auto;
}

/* === ESTILIZAÇÃO DAS RESPOSTAS === */

.section-respostas .resposta-button {
  width: 80%;
  margin: 10px 0;
  padding: 8px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: transparent;

  background-image: url('../../../assets/alternativa-icon.svg');
  background-position: 98% 50%;
  background-repeat: no-repeat;

  color: #666;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid var(--cor-secundaria);
  border-radius: 16px;
}

.section-respostas .resposta-button:hover {
  opacity: 0.85;
}

button.correta {
  border: 2px solid var(--cor-primaria);
  background-image: url('../../../assets/correta-icon.svg');
}

button.incorreta {
  border: 2px solid red;
  background-image: url('../../../assets/errada-icon.svg');
}

/* FEEDBACK DAS QUESTÕES === */
.resposta-correta-container,
.resposta-incorreta-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resposta-correta,
.resposta-incorreta {
  width: 90%;
  max-width: 580px;
  min-height: 200px;
  background-color: var(--cor-primaria);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resposta-correta h1 {
  font-size: 22px;
  text-align: center;
  color: #f5f5f5;
}

.resposta-incorreta {
  padding: 8px;
  background-color: #f5f5f5;
}

.resposta-incorreta h4 {
  background-color: rgb(200, 89, 89);
  color: #fff;
  width: 100%;
  padding: 2px 0;
  text-align: center;
  border-radius: 8px;
}

.resposta-incorreta p {
  color: #686565;
  text-align: center;
}

.resposta-incorreta p span {
  background-color: var(--cor-primaria);
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
}

/* === FINAL DA FASE === */
.final-fase-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px;
}

.final-fase-conteudo {
  text-align: center;
}

.final-fase-conteudo h3 {
  font-size: 32px;
  line-height: 42px;
  color: rgb(146, 145, 145);
}

.final-fase-conteudo h4 {
  margin-top: 16px;
}

.final-fase-conteudo > .final-fase-button {
  margin-right: 8px;
}

.final-fase-button {
  max-width: 240px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 20px auto;
  color: #fff;
  background-color: var(--cor-primaria);
  font-weight: bold;
  font-size: 18px;
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.2);
}
