.contas {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contas1 {
  margin-right: 4px; 
  /* position: relative;  */
  border: 1px solid  #40b63e;
  background:  #40b63e;
  padding: 2px;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.842);
  border-radius: 4px;  
}

.contas2{
  border: 1px solid  #40b63e;
  background:  #40b63e;
  padding: 2px;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.842);
  border-radius: 4px;
}

.contas1::after {
  content: '';
  width: 2px;
  height: 16px;
  top: 0;
  right: -5px;
  position: absolute;
  background: black;
}

.contas h3 {
  font-size: 14px;
  font-weight: bold;
}

.nenhum-cadastro p {
  font-size: 16px;
  font-weight: bold;
  color: #977b7b;
  text-align: center;
}

.registro-contas {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

@media (max-width: 770px) {
  .registro-contas {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .registro-contas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 415px) {
  .registro-contas {
    grid-template-columns: repeat(2, 1fr);
  }
}
