.card-referencia {
  max-width: 240px;
  width: 100%;

  padding: 16px;

  background-color: #556bb4;
  border-radius: 0 8px 0 8px;

  align-self: center;
  justify-self: center;
}

.card-referencia-conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-referencia-conteudo h2 {
  color: #fff;
  display: inline-block;
  font-size: 16px;
}

.link-referencia {
  background-color: var(--cor-primaria);
  display: block;
  max-width: 120px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  margin: 10px auto;
  text-decoration: none;
  transition: 400ms;
}

.titulo-referencia {
  margin: 20px auto;
  text-align: center;
  color: #888;
}
.link-referencia:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}
