.formulario-perfil {
  border: solid 2px;
  border-color: #9ae06f;
  max-width: 700px;
  width: 100%;
  margin: 16px auto;
  padding: 8px;
  min-height: 400px; /*ajustei aqui pq o form ficou pequeno e os conteudos para fora dele*/

  border-radius: 1vh;
}

.entrada {
  width: 100%;
  border: none;
  border-bottom: solid 1px;
  border-color: #9ae06f;
}

.data {
  border: solid 2px;
  border-color: #9ae06f;
}

#botao {
  width: 156px;
  height: 36px;
  text-align: center;
  border: none;
  border-radius: 1vh;
  background-color: #40b63e;
  color: #fff;
  font-weight: bolder;
  margin: 16px auto;
  display: block;
}

.texto {
  color: #7159c1;
}

#titulo {
  text-align: center;
  color: #979797;
}

/* === mostrar perfil ==== */

.details {
  padding: 32px;
  border: 2px solid var(--cor-primaria);
  border-radius: 8px;
  margin-bottom: 20px;
  min-height: 75vh;
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.details .item:last-child {
  border-bottom: none;
}

.details h3.title,
.details .item div:nth-child(1) {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  letter-spacing: 0.7px;
  font-weight: normal;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.group-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  justify-content: space-around;
}

.button-editar,
.button-deletar {
  max-width: 140px;
  width: 100%;

  align-self: center;
  justify-self: center;

  margin-top: 8px;

  color: #fff;
  font-weight: bold;

  background-color: var(--cor-secundaria);
  border-radius: 8px;
  padding: 4px 8px;

  transition: 400ms;
}

.button-editar:hover,
.button-deletar:hover {
  opacity: 0.8;
}

.button-deletar:hover {
  background-color: red;
}

.button-deletar {
  background-color: rgb(185, 170, 170);
}
