.links {
  color: #888;
}

.links:hover {
  color: var(--cor-secundaria);
}

div.container h5 {
  color: #888;
}

.cards-jogo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media (max-width: 800px) {
  .card-conteudo {
    width: 100%;
  }
}

/* quando a largura for menor ou igual a 934px */
@media (max-width: 934px) {
  .cards-jogo {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 490px) {
  .cards-jogo {
    grid-template-columns: 1fr;
  }
}
