footer {
  width: 100%;
  border-top: 1px solid var(--cor-primaria);
  padding: 8px;
  display: flex;
  justify-content: center;

  margin-top: 100px;
}

footer p {
  display: flex;
  justify-content: center;
}
