.footer-all-pages {
  width: 100%;
  max-width: 1240px;
  border-top: 1px solid var(--cor-primaria);
  padding: 8px;
  display: flex;
  justify-content: center;

  margin: auto auto 0;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-all-pages p {
  display: flex;
  justify-content: center;
  font-weight: 500;
}
