.saiba-mais-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.saiba-mais {
  width: 90%;
  min-height: 360px;
  max-width: 680px;
  background-color: #fff;

  border-radius: 8px;

  padding: 16px;
}

saiba-mais-header {
}
