#rodape{
    margin-top: 30vh;
    padding: 1%;
    background-color: #9AE06F;

}

#cards{
    /*color: #50bc22;*/
    /*color: #836DCB;*/
    font-weight: bolder;
    background-color: #ffffff;
    color: #7159c1;
    border: solid 1px;
    border-color: #9AE06F;
    border-radius: 7%;
    height: 210px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

}

#footer{
    margin-top: 30vh;
    text-align: center;
    font-weight: bolder;
    height: 25px;

}
