.navegacao-container {
  width: 100%;
  margin: 12px 0;
  position: relative;
}

.navegacao-lista {
  width: 100%;

  display: flex;
}

.navegacao-item {
  margin-right: 12px;
}

.navegacao-item .navegacao-link {
  font-weight: bold;
  color: rgb(121, 118, 118);
  text-decoration: none;
}

.navegacao-item .navegacao-link:hover,
.navegacao-item .navegacao-link.active {
  padding: 8px 4px;
  background-color: var(--cor-secundaria);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
}

.caixa-profile {
  width: 240px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  z-index: 999;
  position: absolute;
  right: 0;
  top: -12px;
  background-color: rgb(166, 196, 141);
  border-radius: 0 0 8px 8px;
  padding: 8px;
}

.caixa-profile-link {
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.caixa-profile-link:hover {
  text-decoration: none;
  color: #ffffffda;
}

.caixa-profile-link.sair {
  background-color: rgb(153, 68, 68);
}
